@charset "UTF-8";

body, div {
	padding: 0;
	margin: 0;
}

.top {
	width: 1400px;
	height: 300px;
}

.middle {
	width: 300px;
	height: 800px;
}

.middle1 {
	width: 800px;
	height: 800px;
}

#content {
	
}

#top1 {
	background-color: #FFCCff;
	position: absolute;
}

#middle1 {
	background-color: #00CCFF;
	position: absolute;
	margin: 300px 0px 0px 0px;
}

#middle2 {
	background-color: #AAAAAA;
	position: absolute;
	margin: 0px 0px 1000px 300px;
}

#middle3 {
	background-color: #00ff80;
	position: absolute;
	margin: 1500px 1500px 1500px 1500px;
}

